@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  
  --color-mainRed: #C42A2A;
  --color-mainYellow: #F3D053;
  
  --color-mainBg: #F4F9F5;
  --color-primaryBg: #F1EEE8;
  --color-customBeige: #E1D5BD;
  --color-customOrange: #BD390E;

  --color-primary: #1B1B1B;
  --color-secondary: #222328;

  --font-poppins: "Poppins", sans-serif; 
  --font-archivo: "Archivo", sans-serif; 
  --font-roboto: "Roboto", sans-serif;
  --font-roboto_serif: "Roboto Serif", serif;
}

/* App.css */
html, body, .custom-scrollbar, * {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar, 
.custom-scrollbar::-webkit-scrollbar, 
*::-webkit-scrollbar {
  display: none !important; /* Safari, Chrome, Edge */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}
.animate-pulse-slow {
  animation: pulse 2.2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.shimmer {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);
  background-size: 200px 100%;
  animation: shimmer 2.5s infinite;
  opacity: 0.7;
}

@keyframes fadeInSimple {
  from { opacity: 0; transform: scale(0.96); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fade-in-simple {
  animation: fadeInSimple 0.35s cubic-bezier(0.4,0,0.2,1);
}